utils/__pycache__/
utils/p4runtime_lib/__pycache__/
exercises/Hello/build/
exercises/Hello/logs/
exercises/Hello/pcaps/
exercises/L2-switch/build/
exercises/L2-switch/logs/
exercises/L2-switch/pcaps/
exercises/L2-switch-acl/build/
exercises/L2-switch-acl/logs/
exercises/L2-switch-acl/pcaps/
exercises/L3-forwarding/build/
exercises/L3-forwarding/logs/
exercises/L3-forwarding/pcaps/
exercises/Traffic-Probe/build/
exercises/Traffic-Probe/logs/
exercises/Traffic-Probe/pcaps/
